.image-01 {
    background-image: url("image01.jpg");
    background-size: 100%;
    width: 835px;
    height: 170px;
}

.image-02 {
    background-image: url("image02.jpg");
    background-size: 100%;
    width: 906px;
    height: 780px;
}

.image-03 {
    background-image: url("image03.jpg");
    background-size: 100%;
    width: 481px;
    height: 276px;
}

.image-09 {
    background-image: url("image09.jpg");
    background-size: 100%;
    width: 517px;
    height: 234px;
}

.image-10 {
    background-image: url("image10.jpg");
    background-size: 100%;
    width: 540px;
    height: 112px;
}