

.updateEffect {
    background-image: url("updateEffect.png");
    background-size: 100%;
    width: 430px;
    height: 322px;
}

.updateEffectImpl {
    background-image: url("updateEffectImpl.png");
    background-size: 100%;
    width: 913px;
    height: 592px;
}
