.functionUpdate {
    background-image: url("functionUpdate.png");
    background-size: 100%;
    width: 773px;
    height: 1170px;
}

.updateWorkInProgressHook {
    background-image: url("updateWorkInProgressHook.png");
    background-size: 100%;
    width: 679px;
    height: 823px;
}

.doubleTree {
    background-image: url("doubleTree.jpg");
    background-size: 100%;
    width: 754px;
    height: 547px;
}