.funHooks1 {
    background-image: url("funHooks1.jpg");
    background-size: 100%;
    width: 640px;
    height: 512px;
}
.funHooks2 {
    background-image: url("funHooks2.jpg");
    background-size: 100%;
    width: 593px;
    height: 318px;
}