
.hookFirstDemo {
  background-image: url("hookfirstdemo.jpg");
  background-size: 100%;
  width: 425px;
  height: 317px;
}

.functionQuestionIcon {
  background-image: url("functionQuestionIcon.png");
  background-size: 100%;
  width: 593px;
  height: 291px;
}


.classQuestionIcon {
  background-image: url("classQuestion.png");
  background-size: 100%;
  width: 618px;
  height: 527px;
}