.mountState {
    background-image: url("mountState.png");
    background-size: 100%;
    width: 608px;
    height: 446px;
}

.action {
    background-image: url("action.png");
    background-size: 100%;
    width: 618px;
    height: 398px;
}

.dispatch2 {
    background-image: url("dispatch2.png");
    background-size: 100%;
    width: 863px;
    height: 953px;
}

.updateLink {
    background-image: url("updateLink.png");
    background-size: 100%;
    /*width: 1555px;*/
    /*height: 912px;*/
    width: 1000px;
    height: 580px;
}