.mountState {
    background-image: url("mountState.png");
    background-size: 100%;
    width: 608px;
    height: 446px;
}

.dispatch1 {
    background-image: url("dispatch1.png");
    background-size: 100%;
    width: 355px;
    height: 158px;
}

.dispatch2 {
    background-image: url("dispatch2.png");
    background-size: 100%;
    width: 863px;
    height: 953px;
}

.HookQueue {
    background-image: url("HookQueue.png");
    background-size: 100%;
    width: 209px;
    height: 464px;
}

.Update {
    background-image: url("Update.png");
    background-size: 100%;
    width: 304px;
    height: 410px;
}