

.fiber-constructor {
    background-image: url("fiber-constructor.png");
    background-size: 100%;
    width: 897px;
    height: 208px;
}


.fiber-flow {
    background-image: url("fiber-flow.jpg");
    background-size: 100%;
    width: 750px;
    height: 858px;
}

.helloWorld {
    background-image: url("helloWorld.png");
    background-size: 100%;
    width: 869px;
    height: 475px;
}

.doubleStep {
    background-image: url("doubleStep.jpg");
    background-size: 100%;
    width: 801px;
    height: 501px;
}
.doubleTree {
    background-image: url("doubleTree.jpg");
    background-size: 100%;
    width: 754px;
    height: 547px;
}

.twoPhase {
    background-image: url("twoPhase.png");
    background-size: 100%;
    width: 792px;
    height: 516px;
}