.state-image04 {
    background-image: url("image04.jpg");
    background-size: 100%;
    width: 849px;
    height: 73px;
}

.state-image05 {
    background-image: url("image05.jpg");
    background-size: 100%;
    width: 900px;
    height: 423px;
}