.hooksLife1 {
    background-image: url("hookslife1.png");
    background-size: 100%;
    width: 654px;
    height: 645px;
}

.mountEffect {
    background-image: url("mountEffect.png");
    background-size: 100%;
    width: 460px;
    height: 311px;
}


.mountEffectImpl {
    background-image: url("mountEffectImpl.png");
    background-size: 100%;
    width: 922px;
    height: 188px;
}

