.hooksLife1 {
    background-image: url("hookslife1.png");
    background-size: 100%;
    width: 654px;
    height: 645px;
}

.mountEffect {
    background-image: url("mountEffect.png");
    background-size: 100%;
    width: 436px;
    height: 256px;
}

.pushEffect {
    background-image: url("pushEffect.png");
    background-size: 100%;
    width: 534px;
    height: 504px;
}

.useEffect3 {
    background-image: url("useEffect3.png");
    background-size: 100%;
    width: 177px;
    height: 229px;
}

.updateQuene {
    background-image: url("updateQuene.png");
    background-size: 100%;
    width: 659px;
    height: 381px;
}