.data-flow-01 {
    background-image: url("data-flow.jpg");
    background-size: 100%;
    width: 776px;
    height: 437px;
}

.state-image02 {
    background-image: url("image02.jpg");
    background-size: 100%;
    width: 673px;
    height: 718px;
}

.state-image03 {
    background-image: url("image03.jpg");
    background-size: 100%;
    width: 644px;
    height: 138px;
}