.useState1 {
    background-image: url("usestate1.jpg");
    background-size: 100%;
    width: 741px;
    height: 225px;
}

.useStateDispatcher {
    background-image: url("useStateDispatcher.png");
    background-size: 100%;
    width: 515px;
    height: 162px;
}