.fiberLink {
    background-image: url("fiberLink.png");
    background-size: 100%;
    width: 908px;
    height: 602px;
}
.hooksOrder {
    background-image: url("hooksOrder.jpg");
    background-size: 100%;
    width: 949px;
    height: 505px;
}

.renderOrder {
    background-image: url("renderOrder.jpg");
    background-size: 100%;
    width: 1536px;
    height: 67px;
}

.fiber-update {
    background-image: url("fiber-update.png");
    background-size: 100%;
    width: 903px;
    height: 207px;
}