.useStateDispatcher{
    background-image: url("useStateDispatcher.png");
    background-size: 100%;
    width: 515px;
    height: 162px;
}

.dispatch{
    background-image: url("dispatch.png");
    background-size: 100%;
    width: 550px;
    height: 394px;
}

.renderWithHooksFaker {
    background-image: url("renderWithHooksFaker.png");
    background-size: 100%;
    width: 518px;
    height: 567px;
}


.renderWithHooks2 {
    background-image: url("renderwithhooks2.png");
    background-size: 100%;
    width: 869px;
    height: 1165px;
}

.contextOnlyDispatcher {
    background-image: url("ContextOnlyDispatcher.png");
    background-size: 100%;
    width: 1024px;
    height: 708px;
}

.hooksFiber {
    background-image: url("hooksFiber.png");
    background-size: 100%;
    width: 727px;
    height: 188px;
}